* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

nav {
    width: 100%;
    position: absolute;
    padding: 1rem;
    top: 0;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.226);
    display: flex;
    align-items: center;
    height: auto;
}

.nav-brand {
    padding: 1.2rem;
    float: left;
}

.nav-brand h1 {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 4rem;
    font-style: italic;
    margin: auto;
}

.nav-item {
    float: left;
    padding: 0 1rem;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

/* .nav-item>ul.nav-link {
    margin-left: 2rem;
} */

.nav-item ul {
    display: flex;
}

.nav-link li {
    font-size: 1.5vw;

}

.nav-options li{
    font-size: 1vw;
}

.nav-item li {
    list-style: none;
    margin: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    padding: 4px;
}

.nav-item li:hover {
    color: #ffffff8c;
}

.cover {
    background-image: url('images/cover.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    max-width: 100%;
    height: 100vh;
}

.banner-text {
    /* border: 2px solid white; */
    position: absolute;
    top: 35%;
    left: 5%;
    padding: 2rem;
    color: #ffffff;
}


.banner-text p:nth-child(1){
    font-size: 4vw;
}

.banner-text p:nth-child(2){
    font-size: 2vw;
    margin-top: 2rem
}

.btn{
    display: flex;
    width: 15rem;
    justify-content: space-between;
    margin-top: 2.1rem;
}

button{
    padding: 0.7rem 1rem;
    outline: none;
    border: none;
    text-transform: uppercase;
}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform ease-in-out 500ms;
}

.btn .shop, .prod-description .shop{
    background-color: #ffffff;
    color: black;
    transition: transform ease-in-out 500ms;
}

.btn .find-more{
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff6b;
    transition: transform ease-in-out 500ms;
}

.logo-item{
    margin: 2rem;
    padding: 1.5rem;
}

.logo-item .logo-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-list li{
    font-weight: bold;
    list-style: none;
}

.product-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: auto;
    /* border: 1px solid black; */

}

.product-card .card{
    position: relative;
    /* border: 1px solid black; */
    margin: 0 .5rem;
}

.card img{
    object-fit: cover;
    max-width: 100%;
    height: max(30rem, 60vh);
    margin: 0 auto;
    filter: brightness(50%);
}

.prod-description{
    position: absolute;
    top: 15rem;
    left: 2rem;
    color: #ffffff;
    line-height: 1.6;
    max-width: 37ch;
}

.card .prod-description p:nth-child(1){
    font-size: 1.8em;
    font-family: Arial, Helvetica, sans-serif;
}

.card .prod-description p:nth-child(2){
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

.feature-products{
    width: 100%;
    height: auto;
    margin-top: 4rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.027);

}

.feature-products h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 2rem;
    font-size: 2rem;
}

.card-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30ch, 1fr));
    column-gap: 10px;
    row-gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
    /* background-color: rgba(0, 0, 0, 0.507); */

}

.card-wrapper .card{
    align-self: center;
    justify-self: center;
    line-height: 1.8rem;
}

.card-wrapper .card img{
    display: block;
    justify-content: center;
    max-width: 100%;
    height: max(10rem, 30vh);
    object-fit: cover;
    aspect-ratio: 4/3;
    margin: 0 auto;
}

.card h3{
    margin-top: 1rem;
    font-size: 1.25rem;
}

.card-wrapper .card .category{
    font-weight: lighter;
    font-size: 1rem;
}

.card-wrapper .card .price{
    font-size: 1rem;
}

.banner{
    width: 100%;
    padding: 0;
    margin-top: 2rem;
    position: relative;
    height: 500px;
    object-fit: cover;
}

.banner-content img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}

.banner-caption{
    position: absolute;
    width: 50%;
    top: 8rem;
    left: 4rem;
    /* border: 1px solid white; */
    color: #ffffff;
    line-height: 4rem;
}

.banner-caption .head{
    font-size: 4.2rem;
    font-weight: bold;
}

.banner-caption .details{
    margin-top: 2rem;
    line-height: 2rem;
}

.banner .discount-text{
    font-family: "Times New Roman", Times, serif;
}

.banner-caption .shop{
    background-color: #ffffff;
    color: black;
    transition: transform ease-in-out 500ms;
}

.features-content{
    display: flex;
    width: 100%;
    margin-top: 7rem;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    padding: 2rem 0;
    background-color: rgba(0, 0, 0, 0.068);
    border-bottom: 1px solid black;
}

.features-content .feature-card{
    display: block;
    align-items: center;
    width: 20%;
    margin: 1rem 2rem;
}

.features-content .feature-card img{
    max-width: 100%;
    
}

.feature-text p:nth-child(1){
    font-size: 1.3rem;
    font-weight: bold;
}

.feature-text p:nth-child(2){
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 1.5rem;
}

.sell-details{
    padding: 1rem;
    margin: 0rem 0;
}

.sell-details h5{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}

.bottom-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

.brand-name h2{
    text-align: centers;
}

.women-section{
    margin: 1rem;
}

.women-section p{
    font-size: 1.5rem;
}

.women-section ul li{
    font-weight: lighter;
    list-style: none;
}





@media(max-width: 1300px) {
    .nav-item {
        flex-direction: column;
    }
}

@media(max-width: 870px) {
    nav {
        justify-items: center;
        flex-direction: column;
    }

    .bottom-info{
        flex-direction: column;
    }

  
}

@media(max-width: 640px){
    .features-content{
        flex-direction: column;
    }

    .bottom-info{
        flex-direction: column;
    }
}